:root {
    --family: 'Inter', sans-serif;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 24px;
    --fs-xxl: 32px;
    --fs-xxxl: 46px;
    --fw-light: 400;
    --fw-normal: 500;
    --fw-bold: 600;

    --icon-size: 30px;

    --ui-index-1: 1;
    --ui-index-2: 2;
    --ui-index-3: 3;
    --ui-index-4: 4;
    --ui-index-5: 5;

    --bg-primary: #f7f8fa;
    --bg-secondary: #f7f8fa;

    --color-primary: #623cff;
    --color-primary-hovered: #beadff;
    --color-secondary: #eeebff;
    --color-text: #333333;
    --color-text-secondary: #737373;

    --color-error: #ff3333;
    --color-white: #ffffff;
    --color-black: #18191a;
    --color-grey: #737373;

    --box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
        rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

$breakpoints: (
    mobile: 320px,
    tablet: 768px,
    desktop: 1024px,
    lg-desktop: 1380px
);
